# Python
__pycache__/
*.pyc
*.pyo

# macOS
.DS_Store
*.swp
*~

# IDE
.vscode/
.idea/

# Logs
logs/
*.log

# User data
templates/templates_user.json

# App bundle (binary artifacts)
*.app/

# Build artifacts
dist/
build/
*.egg-info/
.workbuddy/
.spec
NetTool-*.dmg
release/macOS/
release/Windows/python/
release/Windows/wheels/
release/macOS/
release/NetTool.exe
